@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.dark-theme {
    --color-primary: #202020;
    --color-secondary: #141414;
    --text-color: #e3e4e6;
    --item-blur: blur(0px);
}

.mainbox {
    background-color: var(--color-secondary);
    backdrop-filter: var(--item-blur);
    transition: ease 1s;
    width: 400px;
    height: 490px;
    margin: 0 auto;
    margin-top: 25vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.light-theme {
    --color-primary: #e3e4e6;
    --color-secondary: #d1d2d4;
    --text-color: #202020;
    --item-blur: blur(0px);
}

.alpenglow {
    --color-primary: url("./alpenglow.png");
    --color-secondary: #d1b7d460;
    --text-color: #e3e4e6;
    --item-blur: blur(18px);
}

.biker {
    --color-primary: url("./biker.jpg");
    --color-secondary: #d1b7d460;
    --text-color: #400040;
    --item-blur: blur(18px);
}

.planets {
    --color-primary: url("./planets.jpg");
    --color-secondary: #d1b7d460;
    --text-color: #202050;
    --item-blur: blur(18px);
}

.slideshow {
    --color-primary: url("https://source.unsplash.com/random/2560x1440");
    --color-secondary: #d1b7d460;
    --text-color: #202050;
    --item-blur: blur(18px);
}

.content {
    animation: 1s fade-in;
}

body {
    background: var(--color-primary) no-repeat #1b1232;
    background-color: var(--color-primary);
    background-size: cover;
    transition: ease 1s;
    z-index: -2;
}

.themeswitcher {
    backdrop-filter: var(--item-blur);
    color: var(--text-color);
    transition: ease 1s;
    background-color: var(--color-secondary);
    position: absolute;
    left: 20px;
    border: 0px;
    bottom: 20px;
    height: 30px;
    border-radius: 10px;
    padding-left: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.checkboxes {
    display: grid;
    grid-template-columns: auto 150px auto 150px;
    grid-template-rows: auto auto auto;
    padding-left: 80px;
    justify-content: space-evenly;
    color: var(--text-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.fa-caret-left {
    color: var(--text-color);
    transition: ease 1s;
    font-size: 30px;
    margin-top: 15px;
    margin-left: 20px;
    text-decoration: none;
    transition: ease .5s;
}

.exp {
    color: var(--text-color);
    transition: ease 1s;
    align-self: flex-start;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 100px;
    font-size: 20px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.name {
    color: var(--text-color);
    transition: ease 1s;
    align-self: flex-start;
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
    font-size: 40px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}